<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.bankapi.bankapi.dao.dormatsysdao.UserDao">
    <resultMap id="UserMap" type="com.bankapi.bankapi.model.dormatsys.User">
        <id column="ID" property="id"/>
        <id column="USERNAME" property="username"/>
        <id column="NICKNAME" property="nickname"/>
        <id column="PASSWORD" property="password"/>
        <id column="PHONE" property="phone"/>
        <id column="DEPT_ID" property="password"/>
        <id column="ROLE_ID" property="dept_id"/>
        <id column="CREATE_IP" property="createIp"/>
        <id column="REMARK" property="remark"/>
        <id column="STATUS" property="status"/>
        <id column="CREATE_USER_ID" property="createUserId"/>
        <id column="CREATE_TIME" property="createtime"/>
        <id column="LAST_LOGIN_TIME" property="lastLoginTime"/>
    </resultMap>

    <select id="findUsers" resultMap="UserMap">
        select *
        from U_USER
    </select>

</mapper>