<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bankapi.bankapi.dao.dormatdao.APIDataDao">
    <resultMap id="APIDataMap" type="com.bankapi.bankapi.bean.ApiData">
        <id column="DEPT_ID" property="departmentId"/>
        <id column="SUBSIDY_CODE" property="subsidyCode"/>
        <id column="BATCH_ID" property="barchId"/>
        <id column="FORM_SEQ_ID" property="platFormId"/>
        <id column="TOTAL_COUNT" property="count"/>
        <id column="TOTAL_MONEY" property="amt"/>
        <id column="MD5" property="fileName"/>
        <id column="fileName" property="md5"/>
        <id column="DIGEST_DESC" property="digestDesc"/>
        <id column="DIGEST_CODE" property="digestCOde"/>
        <id column="SF" property="isFirst"/>
    </resultMap>
    <!--    <select id="getApiDataList" resultMap="APIDataMap">-->
    <!--        select distinct APV_APPROVAL.DEPT_ID               as DEPT_ID,-->
    <!--                        APV_APPROVAL.SUBSIDY_CODE          as SUBSIDY_CODE,-->
    <!--                        APV_APPROVAL_BATCH_DETAIL.BATCH_ID as BATCH_ID,-->
    <!--                        FILE_PATH_ATBLE.LOCAL_PATH         as LOCAL_PATH,-->
    <!--                        APV_APPROVAL.TOTAL_COUNT           as TOTAL_COUNT,-->
    <!--                        APV_APPROVAL.TOTAL_MONEY           as TOTAL_MONEY,-->
    <!--                        S_SUBSIDY.DIGEST_CODE              as DIGEST_CODE,-->
    <!--                        S_SUBSIDY.DIGEST_DESC              as DIGEST_DESC-->
    <!--        from APV_APPROVAL_BATCH_DETAIL,-->
    <!--             APV_APPROVAL,-->
    <!--             APV_APPROVAL_BATCH,-->
    <!--             FILE_PATH_ATBLE,-->
    <!--             S_SUBSIDY-->
    <!--        where APV_APPROVAL.ID = APV_APPROVAL_BATCH_DETAIL.APPROVAL_ID-->
    <!--          and APV_APPROVAL_BATCH.APPROVAL_ID = APV_APPROVAL.ID-->
    <!--          and FILE_PATH_ATBLE.BACTH_ID = APV_APPROVAL_BATCH_DETAIL.BATCH_ID-->
    <!--          and S_SUBSIDY.CODE = APV_APPROVAL.SUBSIDY_CODE-->
    <!--          and APV_APPROVAL_BATCH.BANK_NOTICE_TYPE = '0'-->
    <!--    </select>-->

    <select id="getApiDataList" resultMap="APIDataMap">
        select distinct APV_APPROVAL_BATCH.RELEASE_NAME as fileName,
                        APV_APPROVAL_BATCH.RELEASE_MD5  as MD5,
                        APV_APPROVAL_BATCH.ID           as BATCH_ID,
                        S_SUBSIDY.CODE                  as SUBSIDY_CODE,
                        S_SUBSIDY.DIGEST_CODE           as DIGEST_CODE,
                        S_SUBSIDY.DIGEST_DESC           as DIGEST_DESC,
                        APV_APPROVAL.DEPT_ID            as DEPT_ID,
                        APV_APPROVAL.TOTAL_COUNT        as TOTAL_COUNT,
                        APV_APPROVAL.TOTAL_MONEY        as TOTAL_MONEY,
                        APV_APPROVAL_BATCH.REPLY_MONEY  as REPLY_MONEY,
                        APV_APPROVAL_BATCH.SF           as SF
        from APV_APPROVAL_BATCH,
             S_SUBSIDY,
             APV_APPROVAL
        where BANK_NOTICE_TYPE = '0'
          and S_SUBSIDY.CODE = APV_APPROVAL.SUBSIDY_CODE
    </select>
</mapper>