<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bankapi.bankapi.dao.dormatdao.ApprovalProcessTaskBatchDao">
    <resultMap id="ApprovalProcessTaskBatchMap" type="com.bankapi.bankapi.model.dormat.ApprovalProcessTaskBatch">
        <id property="id" column="ID"/>
        <id property="departmentId" column="DEPT_ID"/>
        <id property="SubsidyItemNumber" column="SUBSIDY_CODE"/>
        <id property="tips" column="TIPS"/>
        <id property="totalCount" column="TOTAL_COUNT"/>
        <id property="totalMoney" column="TOTAL_MONEY"/>
        <id property="areadyPayCount" column="REPLY_COUNT"/>
        <id property="areadyPayTotalMoney" column="REPLY_MONEY"/>
        <id property=" temp1" column="TEMP1"/>
        <id property=" temp2" column="TEMP2"/>
        <id property="temp3" column="TEMP3"/>
        <id property="temp4" column="TEMP4"/>
        <id property="temp5" column="TEMP5"/>
        <id property="temp6" column="TEMP6"/>
        <id property="temp7" column="TEMP7"/>
        <id property="temp8" column="TEMP8"/>
        <id property="action" column="ACTION"/>
        <id property="stockRoomId" column="GS_ID"/>
        <id property="remark" column="REMARK"/>
        <id property="stats" column="STATUS"/>
        <id property="operatorId" column="CREATE_USER_ID"/>
        <id property="createTime" column="CREATE_TIME"/>
    </resultMap>

    <select id="getApprovalProcessTaskBatchList" resultMap="ApprovalProcessTaskBatchMap">
        select *
        from APV_APPROVAL
    </select>

    <update id="updateStatus" parameterType="java.lang.String">
        update APV_APPROVAL
        set STATUS=#{status}
        where ID = (select distinct APPROVAL_ID from APV_APPROVAL_BATCH_DETAIL where BATCH_ID = #{id})
    </update>

</mapper>