<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bankapi.bankapi.dao.dormatdao.ApprovalProcessEventDetailsDao">
    <update id="statusUpdate" parameterType="java.lang.String">
        update APV_APPROVAL_BATCH_DETAIL
        set STATUS = '1'
        where BATCH_ID = #{batchId}
    </update>
</mapper>