<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bankapi.bankapi.dao.dormatdao.BRplyWarningDao">
    <resultMap id="BRplyWarningMap" type="com.bankapi.bankapi.model.dormat.BRplyWarning">
        <id property="BATCH_ID" column="BATCH_ID"/>
        <id column="CREATE_TIME" property="CREATE_TIME"/>
        <id property="CREATE_USER_ID" column="CREATE_USER_ID"/>
        <id property="ID" column="ID"/>
        <id property="DETAIL_ID" column="DETAIL_ID"/>
        <id property="RECORD_ID" column="RECORD_ID"/>
        <id property="REMARK" column="REMARK"/>
        <id property="TYPE" column="TYPE"/>
    </resultMap>
    <insert id="save" parameterType="com.bankapi.bankapi.model.dormat.BRplyWarning">
        insert into APV_APPROVAL_BATCH_WARNING(ID, BATCH_ID, DETAIL_ID, RECORD_ID, TYPE, REMARK, CREATE_USER_ID,
                                               CREATE_TIME)
        values (#{ID}, #{BATCH_ID}, #{DETAIL_ID}, #{RECORD_ID}, #{TYPE}, #{REMARK}, #{CREATE_USER_ID}, #{CREATE_TIME})
    </insert>
    <select id="getLastestId" resultType="java.lang.Integer">
        select MAX(ID) from APV_APPROVAL_BATCH_WARNING
    </select>
    <select id="getUserId" resultType="java.lang.String" parameterType="java.lang.String">
        select CREATE_USER_ID from APV_APPROVAL_BATCH_DETAIL where ID=#{id}
    </select>
</mapper>